# click is a package for creating beautiful command line interfaces in a composable way
click==8.1.7

# Django is a high-level Python Web framework
Django==5.0.6

# django-cors-headers is a Django application for handling the server headers required for Cross-Origin Resource Sharing (CORS)
django-cors-headers==4.3.1

# django-storages is a collection of custom storage backends for Django
django-storages==1.14.3

# djangorestframework is a powerful and flexible toolkit for building Web APIs in Django
djangorestframework==3.15.1

# Pillow is the friendly PIL (Python Imaging Library) fork by Alex Clark and Contributors
pillow==10.3.0

# psycopg2-binary is a PostgreSQL database adapter for the Python programming language
psycopg2-binary==2.9.9

# python-dateutil provides powerful extensions to the standard datetime module
python-dateutil==2.9.0.post0

# python-dotenv reads key-value pair from .env file and adds them to environment variable
python-dotenv==1.0.1

# sqlparse is a non-validating SQL parser module for Python
sqlparse==0.5.0
